body{

    background: #d1d5db;
}

.container-search-bar{
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.form .fa-search{
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    height: 3rem;
    text-indent: 33px;
    border-radius: 10px;
}

#navbar{
    width: 100%;
    margin-top: 3rem;
}