body{
    background: #d1d5db;
}

#navbar{
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color:#6c757d;
}

.gg-chevron-down-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}
.gg-chevron-down-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 5px
}

.fas.fa-search{
    background-color:#6c757d;
}

#button-show-details{
    background-color:#6c757d;
    border: 0rem;
}

#search-bar{
    border-radius: 0.5rem;
    border-width: 0.4rem;
    padding: 0.3rem;
    width: 16rem;
}

#search-bar:hover {
    border-color: rgb(0, 0, 0); 
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

#search-bar::placeholder{
    font-weight: bold;
    color:#212529;
    font-size: 1.3rem;
}

#search-logo{
    background-color:#6c757d;
}
