.gg-home {
    background:
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat 0 bottom/4px 2px,
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat right bottom/4px 2px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -2px
    }
   
    .gg-home::after,
    .gg-home::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
    }
   
    .gg-home::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
    }
   
    .gg-home::after {
    width: 8px;
    height: 10px;
    border: 2px solid;
    border-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    left: 3px;
    bottom: 0
    } 

    /* <i class="gg-home"></i> */

    .gg-profile,
    .gg-profile::after,
    .gg-profile::before {
     display: block;
     box-sizing: border-box;
     border: 2px solid;
     border-radius: 100px
    }
    
    .gg-profile {
        background-color: transparent;
     overflow: hidden;
     transform: scale(var(--ggs,1));
     width: 30px;
     height: 30px;
     position: relative
    }
    
    .gg-profile::after,
    .gg-profile::before {
     content: "";
     position: absolute;
     top: 2px;
     left: 5px;
     width: 16px;
     height: 16px
    }
    
    .gg-profile::after {
     border-radius: 200px;
     top: 18.8px;
     left: 0px;
     width: 26px;
     height: 26px
    } 

#section-component-search-bar{
    margin: 0%;
    display: grid;
    width: 100%;
    grid-template-columns: 6% 88% 6%;
    grid-template-areas:
    "container-home  search-bar  profile";

    background-color:#6c757d;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    #container-home{
        background-color: transparent;
        grid-area: container-home;
        padding-left: 1rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;

        #home{
            border-radius: 2rem;
            border-width: 0.2rem;
            padding: 0.25rem;
            padding-right: 0.4rem;
            padding-left: 0.4rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: transparent;

            #logo-home{
                background-color: transparent;
            }
        }
    }

    #search-bar{
        grid-area: search-bar;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #container-profile{
        background-color: transparent;
        grid-area: profile;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        #profile{
            border-radius: 2rem;
            border-width: 0.2rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            padding: 0.3rem;
            padding-right: 0.4rem;
            padding-left: 0.4rem;
            
            #logo-home{
                background-color: transparent;
            }
        }
    }
}

