.gg-home {
    background:
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat 0 bottom/4px 2px,
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat right bottom/4px 2px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -2px
    }
   
    .gg-home::after,
    .gg-home::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
    }
   
    .gg-home::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
    }
   
    .gg-home::after {
    width: 8px;
    height: 10px;
    border: 2px solid;
    border-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    left: 3px;
    bottom: 0
    } 

    /* <i class="gg-home"></i> */

    .gg-profile,
    .gg-profile::after,
    .gg-profile::before {
     display: block;
     box-sizing: border-box;
     border: 2px solid;
     border-radius: 100px
    }
    
    .gg-profile {
        color: #fff;
     background-color:black;
     overflow: hidden;
     transform: scale(var(--ggs,1));
     width: 30px;
     height: 30px;
     position: relative
    }
    
    .gg-profile::after,
    .gg-profile::before {
     content: "";
     position: absolute;
     top: 2px;
     left: 5px;
     width: 16px;
     height: 16px
    }
    
    .gg-profile::after {
     border-radius: 200px;
     top: 18.8px;
     left: 0px;
     width: 26px;
     height: 26px
    } 

#section-component-search-bar{
    border: 2px solid #0000;
    background:
    linear-gradient(#101010, #101010) padding-box,
    linear-gradient(rgb(167, 4, 58), white) border-box;
    border-width: 0.15rem;

    background-color: #101010;
    margin: 0%;
    display: grid;
    width: 100%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    "container-home  search-bar  profile";
    
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    #container-home{
        background-color: transparent;
        grid-area: container-home;
        padding-left: 1rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;

        #home{
            border-radius: 2rem;
            border: 2px solid #0000;
            background: 
            linear-gradient(black, #000000) padding-box,
            linear-gradient(rgb(167, 4, 58), white) border-box;

            border-width: 0.2rem;
            padding: 0.25rem;
            padding-right: 0.4rem;
            padding-left: 0.4rem;
            text-align: center;
            justify-content: center;
            align-items: center;

            #logo-home{
                fill: #fff;
                background-color: transparent;

                .path-home{
                    background-color:  #fff;
                }
            }
        }
        
        #home:hover{
            box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
        }
    }

    #search-bar{
        grid-area: search-bar;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #container-profile{
        position: relative;
        background-color: transparent;
        grid-area: profile;
        display: grid;
        height: 100%;
        
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        #profile{
            margin-bottom: 0.2rem;
            background-color: #101010;
            border-radius: 2rem;
            border: 2px solid #0000;
            background: 
            linear-gradient(black, #000000) padding-box,
            linear-gradient(rgb(167, 4, 58), white) border-box;

            border-width: 0.2rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0.4rem;
            padding-right: 0.4rem;
            padding-left: 0.4rem;
            
            #logo-home{
                background-color: transparent;
            }
        }

        #profile:hover{
            box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
        }

        #options-profile{
            background-color: transparent;
            position: absolute;
            top: calc(100% + 8px); /* ajusta la distancia desde la parte superior */
            right: -2.2px; /* ajusta la distancia desde el borde derecho */
            background-color: #101010;
            border: solid #fff;
            border-width: 0.15rem;
        }
    }
}

.login-register { 
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 1rem; /* Ajusta el espacio interno de los botones según sea necesario */
    margin: 0.5rem;
    border: 0px solid #0000;
    background-color: #212121;
    text-align: center;
}

#options-profile-container {
    position: absolute; /* Ajusta el posicionamiento absoluto para que el contenedor de opciones de perfil se posicione con respecto al botón de perfil */
    top: calc(100% + 5px); /* Ajusta la distancia desde la parte superior */
    right: 0; /* Ajusta la distancia desde el borde derecho */
}

