.gg-add {
   box-sizing: border-box;
   position: relative;
   display: block;
   width: 22px;
   height: 22px;
   border: 2px solid;
   transform: scale(var(--ggs,1));
   border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 5px;
   top: 8px;
   left: 4px
}
.gg-add::after {
   width: 2px;
   height: 10px;
   top: 4px;
   left: 8px
}
 .gg-close-o {
   box-sizing: border-box;
   position: relative;
   display: block;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   border: 2px solid;
   border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 12px;
   height: 2px;
   background: currentColor;
   transform: rotate(45deg);
   border-radius: 5px;
   top: 8px;
   left: 3px
}
.gg-close-o::after {
   transform: rotate(-45deg)
}

.gg-check-o {
   box-sizing: border-box;
   position: relative;
   display: block;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   border: 2px solid;
   border-radius: 100px
}
.gg-check-o::after {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   left: 3px;
   top: -1px;
   width: 6px;
   height: 10px;
   border-color: currentColor;
   border-width: 0 2px 2px 0;
   border-style: solid;
   transform-origin: bottom left;
   transform: rotate(45deg)
}

#section-button-add-task{
   display:flex;
}

#button-add-task{
    border: 0rem;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
}
 