<section id="section-button-add-task">
    <h3 class="font-medium fs-4" id="title-create-task">Create Task</h3>
    <button id="button-add-task" (click)="showForm()"> <i class="gg-add"></i></button>
</section>

<section id="form-add-task" *ngIf="showFormAddTask">
    <form class="form-add" [formGroup]="group_addTask" (ngSubmit)="onSubmit()">
        <div  class="container-name-description">
            <div id="container-name">
                <input id="input-name" type="text" formControlName="name" placeholder="Titulo de la tarea">
                <span id="span-name">Name</span>
            </div>
            
            <div id="container-description">
                <input id="input-description" type="text"  formControlName="description" placeholder="Sobre que trata">
                <span id="span-description">Description</span>
            </div>
        </div>

        <div class="container-status-priority">
            <div id="container-status">
                <h5 id="status">Status</h5>
                <select class="btn btn-secondary select" formControlName="status">
                    <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
    
            <div id="container-priority">
                <h5 id="priority">Priority</h5>
                <select class="btn btn-secondary select" formControlName="priority">
                  <option *ngFor="let option of priorityOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
        </div>
        <div id="container-opciones">
            <div id="container-create">
                <button class="btn btn-success" id="button-create" type="submit" [disabled]="!group_addTask.valid"> 
                   <p id="create">Create</p> <i class="gg-check-o"></i> 
                </button>
            </div>
            <button class="btn btn-danger" id="button-cancel" (click)="hideForm()"> 
                <p id="cancel">Cancel</p> <i class="gg-close-o"></i> 
            </button>
        </div>
    </form>
</section>

<p>{{result}}</p>
