.gg-add {
   padding-top: 0%;
   box-sizing: border-box;
   position: relative;
   display: block;
   width: 22px;
   height: 22px;
   border: 2px solid;
   transform: scale(var(--ggs,1));
   border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 5px;
   top: 8px;
   left: 4px
}
.gg-add::after {
   width: 2px;
   height: 10px;
   top: 4px;
   left: 8px
}
 .gg-close-o {
   background-color: transparent;
   margin-top: 0.1rem;
   margin-left: 0.4rem;
   color: black;
   box-sizing: border-box;
   position: relative;
   display: block;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   border: 2px solid;
   border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 12px;
   height: 2px;
   background: currentColor;
   transform: rotate(45deg);
   border-radius: 5px;
   top: 8px;
   left: 3px
}
.gg-close-o::after {
   transform: rotate(-45deg)
}

.gg-check-o {
   background-color: transparent;
   margin-top: 0.1rem;
   margin-left: 0.4rem;
   color: black;
   box-sizing: border-box;
   position: relative;
   display: block;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   border: 2px solid;
   border-radius: 100px
}
.gg-check-o::after {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   left: 3px;
   top: -1px;
   width: 6px;
   height: 10px;
   border-color: currentColor;
   border-width: 0 2px 2px 0;
   border-style: solid;
   transform-origin: bottom left;
   transform: rotate(45deg)
}

#section-button-add-task{
   margin-top: 0rem;
   padding-top: 0%;
   display:flex;
}

#button-add-task{
    color: #fff;
    border: 0rem;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
}

.input-add-task{
   text-align: center;
   margin-left: 0.4rem;
   border-radius: 1rem;
   border-width: 0.4rem;
   padding: 0.15rem;
   width: 9rem;
}

.input-add-task:hover {
   border-color: rgb(0, 0, 0); 
   box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.input-add-task::placeholder{
   font-weight: bold;
   color:#212529;
   font-size: 1rem;
}

.container-name-description{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas: 
   "name description";

   text-align: center;

   #container-name{
      grid-area: name;
      display: inline-flex;
      position: relative;
      padding-right: 2rem;

      #input-name{
         padding: 1rem 0.3rem 0.8rem 0.8rem;
         outline: none;
         background: transparent;
         border-radius: 5px;
         color: #000000;
         border:solid;
         border-radius: 2rem;
         border-width: 1px;
      }

      #input-name::placeholder{
         text-align: center;
         font-weight: bold;
         color:#000000;
         font-size: 1.2rem;
      }

      #span-name {
         position: absolute;
         left: 0;
         font-size: 0.8em;
         transform: translateX(14px) translateY(-11px);
         padding: 0 4px 1px 6px;
         border-top-left-radius: 0.5rem;
         border-top-right-radius: 0.5rem;
         background: white;
         letter-spacing: 1px;
         border: 0px solid #212121;
         color: #000000;
       }
   }

   #container-description{
      padding-left: 0.7rem;
      grid-area: description;
      display: inline-flex;
      position: relative;

      #input-description{
         padding: 1rem 0.3rem 0.8rem 0.8rem;
         outline: none;
         background: transparent;
         border-radius: 5px;
         color: #000000;
         border:solid;
         border-radius: 2rem;
         border-width: 1px;
      }

      #input-description::placeholder{
         text-align: center;
         font-weight: bold;
         color:#000000;
         font-size: 1.2rem;
      }

      #span-description {
         position: absolute;
         left: 0;
         font-size: 0.8em;
         transform: translateX(22px) translateY(-11px);
         padding: 0 4px 1px 6px;
         border-top-left-radius: 0.5rem;
         border-top-right-radius: 0.5rem;
         background: white;
         letter-spacing: 1px;
         border: 0px solid #212121;
         color: #000000;
       }
   }
}


.container-status-priority{
   padding-top: 1.5rem;
   padding-bottom: 3.5rem;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas: 
   "status priority";

   #container-status{
      text-align: center;
      align-items: center;
      justify-items: center;
      grid-area: status;
      display: block;
      #status{
         font-weight: bold;
         color: black;
         margin-right: 0.5rem;
      }
   }

   #container-priority{
      text-align: center;
      align-items: center;
      justify-items: center;
      display: block;
      grid-area: priority;
      #priority{
         font-weight: bold;
         color: black;
         margin-right: 0.5rem;
      }
   }
}

.select {
   padding-top: 0%;
   height: 1.7rem;
   width: 10rem;
   font-size: 1rem;
   text-align: center;
   font-weight: bold; 
   background-color: transparent;
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
   text-align: center;
   color: #000000;
}

.select option {
   border: solid;
   border-color: black;
   border-radius: 0.5rem;
   font-size: 0.9rem;
   text-align: center;
   color: rgb(0, 0, 0);
   font-weight: bold ;  
   background-color:transparent; /* Cambia el color de fondo de las opciones */
}

#container-opciones{
   margin-top: 1.15rem;
   align-items: end;
}

#container-create{
   height: min-content;
   width: min-content;
}

#button-create{
   display: flex;
   margin-right: 0.5rem;
   justify-content: center;
   height: 2.3rem;
   border-radius: 1rem;
   text-align: center;
}

#create{
   justify-content: center;
   background-color: transparent;
   font-weight: bold;
   color: black;
}

#cancel{
   justify-content: center;
   background-color: transparent;
   font-weight: bold;
   color: black;
}

#button-cancel{
   display: flex;
   margin-right: 1.2rem;
   justify-content: center;
   height: 2.3rem;
   border-radius: 1rem;
   text-align: center;
}

#button-create:hover {
   border-color: transparent;
   box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

#button-cancel:hover {
   border-color:transparent; 
   box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

#container-opciones{
   position: absolute;
   bottom: 0;
   right: 0;
   margin-bottom: 1rem;
   display: flex;
}

.form-add{
   position: relative;
   display: block;
   border: 1px solid black;
   padding: 1.5rem;
   border-radius: 5px;
}

#title-create-task{
   color: #fff;
   margin-bottom:0%;
}