<section>
    <div *ngIf="showList">
        <div *ngIf="!refreshList">
            <!-- <i class="gg-list"></i> -->
            <div class="card-body">
                <div id="container-title-of-list">
                    <svg id="logo-list" xmlns="http://www.w3.org/2000/svg" height="35" width="35" viewBox="0 0 24 24" stroke-width="1.5" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                    </svg>                  
                    <h4 class="card-title" id="title-of-list">List</h4>
                </div>
                
                <div class="table-responsive" id="task-table">
                  <table class="table align-middle text-nowrap" id="tbl">
                    <thead id="thead">
                          <tr>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-name">Name</th>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-description">Description</th>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-status">Status</th>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-priority">Priority</th>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-edit">Edit</th>
                              <th class="text-dark font-medium fs-4 background-color-td-th" id="th-delete">Delete</th>
                          </tr>
                    </thead>
                    
                    <tbody *ngIf="taskListNoContent">
                        <p class="text-dark font-medium fs-4">No se encuentran resultados...</p>
                    </tbody>

                    <tbody *ngIf="!taskListNoContent">
                        <tr *ngFor="let task of taskList">
                            <td id="td-name" class="background-color-td-th">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium background-color-td-th">{{task.name}}</h5>
                                </div>
                            </td>

                            <td id="td-description" class="background-color-td-th">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium background-color-td-th">{{task.description}}</h5>
                                </div>
                            </td>
        
                            <td id="td-status" class="background-color-td-th"> 
                                <div *ngIf="editingTask !== task" class="container-value-priority-status"> 
                                    <h5 class="task-status-priority background-color-td-th">{{task.status}}</h5>
                                </div> 
                                <div *ngIf="editingTask === task" class="container-value-priority-status">
                                    <h5 class="task-status-priority edit-task background-color-td-th">{{task.status}}</h5>
                                    <select [(ngModel)]="temporaryStatus" class="select" [disabled]="!isEditing">
                                        <option *ngFor="let status of taskStatusOptions" [value]="status"> {{ status }}</option>
                                    </select>
                                </div>
                            </td>
        
                            <td id="td-priority" class="background-color-td-th">
                                <div *ngIf="editingTask === task" class="container-value-priority-status">
                                    <h5 class="task-status-priority edit-task background-color-td-th" >{{task.priority}}</h5>
                                    <select [(ngModel)]="temporaryPriority" class="select" [disabled]="!isEditing">
                                        <option *ngFor="let priority of taskPriorityOptions" [value]="priority"> {{ priority }}</option>
                                    </select>
                                </div>
                                <div *ngIf="editingTask !== task" class="container-value-priority-status">
                                    <h5 class="task-status-priority background-color-td-th">{{task.priority}}</h5>
                                </div>
                            </td>
        
                            <td id="td-edit" class="background-color-td-th">
                                <button class="btn btn-info" id="button-edit" (click)="editTask(task)"><i class="gg-edit-markup"></i> </button><br>
                                <div id="options-edit">
                                    <button class="btn btn-success" id="buttonSave" *ngIf="editingTask === task" (click)="saveChanges(task)"><i class="gg-check-o"></i></button>
                                    <button class="btn btn-danger" id="buttonCancel" *ngIf="editingTask === task" (click)="cancelEdit()"><i class="gg-close-o"></i></button>
                                </div>
                            </td>
        
                            <td id="td-delete" class="background-color-td-th">
                                <button id="delete-task" class="btn btn-danger" (click)="deleteTask(task)">
                                    <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path id="path" d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>     
                                </button> <br>
                                <section *ngIf="task.taskId === taskIdToDelete">
                                    <app-delete-task></app-delete-task>
                                </section>
                            </td>
                          </tr>              
                      </tbody>
                  </table>
              </div>
              </div>
        </div>
    </div>
</section>
    