*{
    background-color: #101010;
}

.gg-menu-grid-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
   }
   
   .gg-menu-grid-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
    0 6px 0,
    6px 6px 0,
    12px 6px 0,
    6px 12px 0,
    12px 12px 0,
    6px 0 0,
    12px 0 0,
    0 12px 0
    ;
    border-radius: 22px;
   } 

#navbar{
    background-color: rgb(3, 3, 3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters{
    display: block;
}

#main{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#container-component-add-task{
    margin-top: 0%;
}

/* #container-component-task-list{
   
} */

#aside{
    height: 100%;
}

#container{
    margin-top: 0%;
    padding-top:0%;
    display: grid;
    width: 100%;
    grid-template-columns: 10% 90%;
    grid-template-areas:
    "filtro  tareas"
    "filtro  filtros";
    
    justify-content: center;

    align-content: center;
    /* border-bottom: solid;
    border-bottom-color: #6c757d;
    border-bottom-width: 0.3rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem; */

    .grid-1{
        margin-top: 0rem;
        padding-top: 0%;
        padding-left: 0.5rem;
        grid-area: tareas;
        display: block;
        justify-content: center;
    }
    
    .grid-2{
        align-items: center;
        padding-top: 1rem;
        grid-area: filtro;
        /* border-right: solid;
        border-right-color: #6c757d;
        border-right-width: 0.3rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0.5rem; */
    }
}

#title-filters{
    color: #fff;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-left: 0.2rem;
}

#container-title-filters{
    color: #fff;
    margin-top: 0%;
    padding-top: 0%;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#container-of-title{
    text-align: center;
}

#sort-buttons{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#sort-by{
    color: #fff;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
}

#container-filters-buttons{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

#footer{
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}