.priorityOption{
    display: block;
    margin-bottom: 1rem;
}

.lucide{
    background-color: transparent;
}

.sort-descendent{
    background-color: transparent;
}

.priority-buttons{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.options{
    width: 100%;
}

.buttonSortPriority{
    padding: 5px;
    border: 2px solid #0000;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: 
    linear-gradient(black, #000000) padding-box,
    linear-gradient(rgb(167, 4, 58), white) border-box;

    border-width: 0.2rem;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 7rem;
    display: flex;
    color: rgb(245, 242, 242);
}

.buttonSortPriority:hover{
    box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
}

.priority-text{
    margin: 0%;
    text-align: center;
    background-color: transparent ;
    padding-right: 0.2rem;
    padding-bottom: 0%;
}


.gg-arrow-up {
    margin-top: 0.1rem;
    color: black;
    background-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(180deg) scale(var(--ggs,1)); /* Rotar la flecha hacia arriba */
    width: 22px;
    height: 22px;
}

.gg-arrow-up::after,
.gg-arrow-up::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px; /* Cambiamos a "bottom" */
}

.gg-arrow-up::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid; /* Cambiamos a borde superior */
    border-right: 2px solid; /* Cambiamos a borde derecho */
    transform: rotate(-225deg); /* Rotar la parte superior de la flecha */
    left: 7px; /* Ajustamos la posición */
}

.gg-arrow-up::before {
    width: 2px;
    height: 16px;
    left: 10px;
    background: currentColor;
}

.gg-arrow-down {
    margin-top: 0.1rem;
    color: black;
    background-color: transparent;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
   }
   
   .gg-arrow-down::after,
   .gg-arrow-down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px
   }
   
   .gg-arrow-down::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 7px
   }
   
   .gg-arrow-down::before {
    width: 2px;
    height: 16px;
    left: 10px;
    background: currentColor
   } 